<aside class="home nopad" data-module="AUTORESIZE" data-skip-y="140">
  <div class="title">
    <div class="top">
      Making<br />Software
    </div>
    <div class="bottom">
      Delivering<br /> Results
    </div>
  </div>
</aside>
