{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": [
    [
      "transform-replace-object-assign",
      "simple-assign"
    ]
  ],
  "env": {
    "docs-production": {
      "plugins": [
        [
          "transform-replace-object-assign",
          "simple-assign"
        ],
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
      ]
    }
  }
}
