a {
  position: relative;
}
a.link {
  cursor: pointer;
  text-decoration: none;
  color: #1E2D3B;
  font-weight: bold;
}
a.link:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #240A68;
  content: "";
  transition: width 0.2s;
}
a.link:hover {
  color: #240A68;
}
a.link:hover:after {
  width: 100%;
}
nav a:after,
nav a.active:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #240A68;
  content: "";
  transition: width 0.2s;
}
nav a:hover,
nav a.active {
  color: #240A68;
}
a:hover:after,
nav a.active:after {
  width: 100%;
}
