.bima {
  background-image: url('/assets/scs1.png');
  background-clip: border-box;
  background-blend-mode: darken;
  background-size: contain;
  filter: url(blur.svg#blur);
  -webkit-filter: blur(3px);
  filter: blur(3px);
  position: fixed;
  top:0;left:0;right:0;bottom:0;
  z-index: 1;
}
.title {
  margin-top: 50px;
}
.title,
.subtitle {
  font-family: Raleway, 'sans-serif';
  color: #1E2D3B;
  z-index: 2;
  position: relative;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#root {
  font-family: Raleway, 'sans-serif';
  box-sizing: border-box;
  margin: 0 auto 0 auto;
  width: 100%;
  aside {
    padding: 30px;

    border-bottom: 1px solid #f9f9f9;
    &.nopad {
      padding: 30px 0 0 0;
      border: 0;
    }
    &:last-child {
      border: 0;
    }
    .text-center {
      text-align: center;
    }
  }
  .light-bg {
    background-color: #f9f9f9;
  }
  .dark-content {
    color: #1E2D3B;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .input {
        display: block;
        margin-bottom: 10px;
        width: 100%;
        border: 0;
        padding: 10px 20px;
        box-sizing: border-box;
        background-color: transparent;
        transition: border-bottom .1s ease-in;
        font-weight: bold;
        border-bottom: 1px solid #ccc;
        outline: 0;
        &:active,
        &:focus {
          border-bottom: 1px solid #1E2D3B;
        }
      }
      input[type='message'] {

      }
      button {
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        user-select: none;
        color: #7b7c7e;
        border-color: #b5b8bb;
        border-radius: 100px;
        background-color: transparent;
        padding: 15px 50px;
        letter-spacing: 1px;
        margin: 30px auto 0;
        display: flex;
        align-items: center;

        background-image: none;
        border: 1px solid #b5b8bb;
        position: relative;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        &:hover {
          background-color: #EDCD1F;
          color: #1E2D3B;
        }
        i {
          margin-right: 5px;
        }
      }
    }
  }
  .light-content {
    color: #f9f9f9;
  }
  .dark-bg {
    background-color: #232323;
  }
}
.small-content {
  p {
    max-width: 890px;
    margin: 0 auto
  }
}

.pad-txt {
  padding: 0 30px;
}
