<aside class="light-bg dark-content nopad">
  <h1 class="pad-txt">Who am I?</h1>
  <div class="whoami">
    <div class="left item">
      <img src="/assets/profile.jpg" />
    </div>
    <div class="right item pad-txt">
      <h2>Florian Kasper</h2>
      <p>
        I am a Full-Stack Developer, living in Nuremberg, Germany.
        I ‘ve been developing software development for the past 11 years now.
        For me - it's more than just a business - it is about soul, spirit and the
        passion to create something new and fresh, to build something truely unique.
      </p>
      <p>
        On this site you can find some facts about my person, personality and professional life.
      </p>
    </div>
  </div>
</aside>
<aside class="dark-bg light-content">
  <h1>How I got into programming</h1>
  <p>
    I got my first computer when I was a mere eight years old.
    This lead into a variety of experiments as you probably can imagine.
    My first contact with programming, was actually not actually with a programming language.
    I started out with basic HTML programming - as probably many children out there - and grew my way slowly into more advanced web development.
  </p>
</aside>
<aside class="light-bg dark-content">
  <h1>Personal life and Hobbies</h2>
  <p>Besides of work, I tend to do a lot of things outdoor.
    From running, swimming and cycling, or just relaxing at home I think I have a well balanced life in general.
    If you wanna hook me up on Strava just check out my <a href="/my/contact" class="link">contact</a> page, which will lead you to my Strava account.
  </p>
</aside>
