<aside class="light-bg dark-content">
  <h1 class="text-center">Leave me a message</h1>
  <form>
    <input class="input" type="text" name="name" placeholder="Name" />
    <input class="input"type="email" name="mail" placeholder="Email address" />
    <textarea class="input" type="message" name="message" placeholder="Message"></textarea>
    <button type="submit">
      <i class="material-icons">send</i> Send!
    </button>
  </form>
</aside>

<aside class="dark-bg light-content">
  <h1 class="text-center">Me ... online</h1>
  <div class="platform-links">
    <div class="link">
      <div class="service">Email</div>
      <div class="name">You need my services for your next project? You are uncertain about a new type of technology? Or you just want to chat? Just drop me an Email and I will be pleased to respond to your message!</div>
      <div class="link"><a href="#">info [at] fk-consult dot in</a></div>
    </div>
    <div class="link">
      <div class="service">XING</div>
      <div class="name">
        XING is my main source for keeping track of my contacts.
        If you want you can drop me a message!
      </div>
      <div class="link">
        <a href="https://www.xing.com/profile/Florian_Kasper8" target="_blank">https://www.xing.com/profile/Florian_Kasper8</a>
      </div>
    </div>
    <div class="link">
      <div class="service">GitHub</div>
      <div class="name">
        Professionality is nothing without good code management.
        GitHub is my preferred application on keeping track of my software projects.
        Just hit me up there and we can start coding together!
      </div>
      <div class="link">
        <a href="https://github.com/nirnanaaa" target="_blank">@nirnanaaa</a>
      </div>
    </div>
    <div class="link">
      <div class="service">GitHub#2</div>
      <div class="name">
        Just because one was not enough!
      </div>
      <div class="link">
        <a href="https://github.com/fkasper" target="_blank">@fkasper</a>
      </div>
    </div>
    <div class="link">
      <div class="service">Strava</div>
      <div class="name">
        For you sport enthusiasts out there,
        You can also find and follow me on Strava,
        where all my various activities will go!
      </div>
      <div class="link">
        <iframe height='160' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/16016780/activity-summary/2e6c9c1477e552569b7da1cf5bcd2cd8c034aa8b'></iframe>
      </div>
    </div>
  </div>
</aside>
<aside class="light-bg dark-content">
  <h1 class="text-center">Or just use the old-fashioned way!</h1>
  <div class="contact-directly">
    <ul class="items">
      <li class="item">
        <div class="icon"><i class="material-icons">phone</i></div>
        <div class="text">+49-1516 7522873</div>
      </li>
      <li class="item">
        <div class="icon"><i class="material-icons">markunread_mailbox</i></div>
        <div class="text">Tassilostr. 13<br />90429 Nuernberg<br />Germany</div>
      </li>
    </ul>
  </div>
</aside>
